{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu portal Contable</title>
    <link href="{% static 'css/bulma.min.css' %}" type="text/css"  rel="stylesheet">    
</head>
    <body>
        <section class="hero is-fullheight bulma-text-00-l">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-4 is-offset-4">
                        <h3 class="title has-text-black">Inicio de Sesion</h3>
                        <hr class="login-hr">
                        <p class="subtitle has-text-black">Tu Portal Contable 2.0</p>
                        <div class="box">
                            <figure class="avatar">
                                <img src="https://dummyimage.com/150">
                            </figure>
                            <form action="{% url 'logining' %}" method="POST">
                                {% csrf_token %}                             
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="email" placeholder="Your Email" autofocus="">
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="password" placeholder="Your Password">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="checkbox">
                                <input type="checkbox">
                                Remember me
                                </label>
                                </div>
                                <button class="button is-block is-info is-fullwidth">Conectar <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                <div class="notification is-link">
  <button class="delete"></button>
  Primar lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum
  dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta
  nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus
  diam, et dictum <a>felis venenatis</a> efficitur.
</div>
                            </form>
                        </div>
                        <p class="has-text-grey">
                            <a href="../">Registrarse</a> &nbsp;·&nbsp;
                            <a href="../">Olvidaste tu contraseña</a> &nbsp;·&nbsp;
                            <a href="../">Necesitas ayuda?</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>    
    </body>
</html>